@using KratosSelfService.Extensions
@model SettingsModel
@{
    ViewData["Title"] = OryTranslator.Get("settings.title");
    Layout = "_CardLayout";
    var allGroups = Model.flow.Ui.Nodes
        .GroupBy(node => node.Group).ToList();
    var defaultNodes = allGroups
        .First(group => group.Key == KratosUiNode.GroupEnum.Default)
        .ToArray();
    var groups = allGroups
        .Where(group => group.Key != KratosUiNode.GroupEnum.Default);
}

<section class="section">
    <h1 class="title">@OryTranslator.Get("settings.title")</h1>
    <p>@OryTranslator.Get("settings.subtitle-instructions")</p>
    @if (Model.flow.Ui.Messages != null)
    {
        foreach (var message in Model.flow.Ui.Messages)
        {
            @await Component.InvokeAsync("KratosUiTextMessage", message)
        }
    }
    @foreach (var group in groups)
    {
        <hr/>
        <h3 class="subtitle mt-3">@group.Key.ToLocalString(OryTranslator)</h3>
        <form class="mb-3" action="@Model.postUri" method="post">
            @foreach (var node in defaultNodes)
            {
                @await Component.InvokeAsync("KratosUiNodeInput", node)
            }
            @foreach (var node in group)
            {
                @await Component.InvokeAsync("KratosUiNodeInput", node)
            }
        </form>
    }
</section>