@if (Properties.Count > 0)
    {
        <div class="box">
            <h1 class="title">Additional Properties</h1>
            <table class="table is-fullwidth">
                <tbody>
                @foreach (var (key, value) in Properties)
                {
                    <tr>
                        <td>@key</td>
                        <td>@value</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
@code {
    [Parameter] public required IDictionary<string, object> Properties { get; set; }
}