@namespace OryAdmin.Components.Elements

<li>
    @if (IsActive)
    {
        <a class="pagination-link is-current" aria-current="page" href="identities/users?page=@PageNr">
            @PageNr
        </a>
    }
    else
    {
        <a class="pagination-link" href="identities/users?page=@PageNr">
            @PageNr
        </a>
    }
</li>

@code
{
    [Parameter]
    public required int PageNr { get; set; }

    [Parameter]
    public required bool IsActive { get; set; }

}