@using OryAdmin.Utils
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    @if (PageToken == PaginationTokens.First || PageToken == null)
    {
        <button class="pagination-previous is-disabled">
            First Page
        </button>
    }
    else
    {
        <a href="@Url?page_size=@(PageSize)&page_token=@(PaginationTokens.First)" 
           class="pagination-previous">
            First Page
        </a>
    }
    @if (string.IsNullOrWhiteSpace(PaginationTokens.Next))
    {
        <button class="pagination-next is-disabled">
            Next Page
        </button>
    }
    else
    {
        <a href="@Url?page_size=@(PageSize)&page_token=@(PaginationTokens.Next)" 
           class="pagination-next">
            Next Page
        </a>
    }
</nav>

@code
{
    [Parameter] public required int PageSize { get; set; }
    [Parameter] public required string? PageToken { get; set; }
    [Parameter] public required PaginationTokens PaginationTokens { get; set; }

    [Parameter] public required string Url { get; set; }
}