@namespace OryAdmin.Components.Elements

<li>
    <a class="pagination-link @(IsActive ? "is-current" : "")"
       aria-current="page" href="@Url?page=@PageNr">
        @PageNr
    </a>
</li>

@code
{
    [Parameter]
    public required int PageNr { get; set; }

    [Parameter]
    public required bool IsActive { get; set; }

    [Parameter]
    public required string Url { get; set; }
}