@model KratosFlowError
@{
    ViewData["Title"] = OryTranslator.Get("error.title");
    Layout = "_CardLayout";
}

<section class="section">
    <h1 class="title">@OryTranslator.Get("error.title")</h1>
    <p class="subtitle">
        @Model.Error
    </p>
</section>