@page "/oauth2/clients/create"
@rendermode InteractiveServer

<PageTitle>Create Client | OryAdmin</PageTitle>

<h1 class="title">Create Client</h1>
<form @onsubmit="SubmitForm">
    <div class="box p-5 @(string.IsNullOrWhiteSpace(_errorMessage) ? "is-hidden" : "")">
        <div class="message is-warning p-2">
            @_errorMessage
        </div>
    </div>
    <Oauth2ClientFields Client="_client"/>
    <div class="mt-5">
        <div class="buttons">
            <a class="button" href="oauth2/clients">
                Cancel
            </a>
            <button type="submit" class="button is-success">
                Save
            </button>
        </div>
    </div>
</form>
<div id="client-created-modal" class="modal @(_createdClient != null ? "is-active" : "")">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Client Created</p>
        </header>
        <section class="modal-card-body">
            <p>The OAuth 2 client "@_createdClient?.ClientName" was successfully created.</p>
            <div class="field">
                <label class="label">
                    Your Client Secret:
                    <div class="control">
                        <input type="text" class="input" readonly value="@_createdClient?.ClientSecret"/>
                    </div>
                </label>
            </div>
            <div class="message is-warning p-2 mt-3">
                Please store your Client Secret because it can only be viewed once.
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info" href="oauth2/clients">
                Done
            </a>
        </footer>
    </div>
</div>