@page "/oauth2/clients/{ClientId}/edit"
@rendermode InteractiveServer
@inject NavigationManager nav

<PageTitle>Edit Client | OryAdmin</PageTitle>

<h1 class="title">Edit Client</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <form @onsubmit="SubmitForm">
        <div class="box p-5 @(string.IsNullOrWhiteSpace(_errorMessage) ? "is-hidden" : "")">
            <div class="message is-warning p-2">
                @_errorMessage
            </div>
        </div>
        <Oauth2ClientFields Client="_client"/>
        <div class="mt-5">
            <div class="buttons">
                <a class="button" href="oauth2/clients/@ClientId">
                    Cancel
                </a>
                <button type="submit" class="button is-success">
                    Save
                </button>
            </div>
        </div>
    </form>
}