@page "/oauth2/clients"
@attribute [StreamRendering]
@attribute [RenderModeInteractiveServer]

<PageTitle>OAuth 2 Clients | OryAdmin</PageTitle>

<h1 class="title">OAuth 2 Clients</h1>
<div class="buttons">
    <a href="oauth2/clients/create" class="button is-success">
        New Client
    </a>
    <RefreshPageButton/>
</div>
@if (_isLoading)
{
    // is loading
    <p>Loading data...</p>
}
else
{
    if (_clients == null)
    {
        <div class="message is-danger p-2">
            <p>The list could not be loaded.</p>
        </div>
    }
    else
    {
        if (_clients.Count == 0)
        {
            <p>There are no clients.</p>
        }
        else
        {
            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Created at</td>
                    <td>Sessions</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var client in _clients!)
                {
                    <tr>
                        <td>
                            <a href="oauth2/clients/@client.ClientId">
                                @(string.IsNullOrWhiteSpace(client.ClientName) ? client.ClientId : client.ClientName)
                            </a>
                        </td>
                        <td>@client.CreatedAt</td>
                        <td>
                            <a href="oauth2/clients/@client.ClientId/sessions">View sessions</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
}