@page "/identities/schemas"
@rendermode InteractiveServer

<PageTitle>Identity Schemas | OryAdmin</PageTitle>

<h1 class="title">Identity Schemas</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    if (_schemas!.Count == 0)
    {
        <p>You haven't added any schemas yet.</p>
    }
    else
    {
        @if (_schemas.Count > 1)
        {
            <div class="tabs">
                <ul>
                    @foreach (var schema in _schemas!)
                    {
                        <li class="@(schema.Id == SchemaId ? "is-active" : "")">
                            <a href="identities/schemas?id=@schema.Id">@schema.Id</a>
                        </li>
                    }
                </ul>
            </div>
        }
        <h3 class="subtitle">Schema "@SchemaId"</h3>
        <pre class="is-small">
            @_selectedSchema?.Schema
        </pre>
    }
}