@inherits LayoutComponentBase

<NavbarMenu/>

<section class="main-content section columns is-fullheight mt-5">
    <div class="container column is-2">
        <SideMenu/>
    </div>
    <div class="container column is-10">
        <main>
            @Body
        </main>
    </div>
</section>