@inject EnvService env
<nav class="navbar is-fixed-top has-shadow is-info"
     role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-justify-content-space-between">
        <a class="navbar-item" href="">
            <h1 class="title">OryAdmin</h1>
        </a>
        <a class="navbar-item" href="https://github.com/josxha/OryUI" target="_blank">
            <span class="icon">
                <i class="fa-brands fa-github fa-xl"></i>
            </span>
        </a>
    </div>
</nav>