@inject EnvService EnvService
<nav class="navbar is-fixed-top has-shadow is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <h1 class="title">OryAdmin</h1>
        </a>
    </div>

    <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/josxha/Oryon" target="_blank">
            <span class="icon">
                <i class="fa-brands fa-github"></i>
            </span> GitHub
        </a>
    </div>
</nav>