@inject EnvService EnvService
<nav class="navbar is-fixed-top has-shadow is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <h1 class="title">OryAdmin</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="fixedNavBar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="fixedNavBar" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-small" target="_blank" href="https://github.com/josxha/Oryon">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</nav>