<nav class="navbar is-fixed-top is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <h1 class="title">OryAdmin</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="fixedNavBar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="fixedNavBar" class="navbar-menu">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
                <span class="icon">
                    <Icon IconName="fa-home" IconSize="IconSize.X01" aria-hidden="true"></Icon>
                </span>
                Home
            </NavLink>
            <NavLink class="navbar-item" href="identities">
                <span class="icon">
                    <Icon IconName="fa-user" IconSize="IconSize.X01" aria-hidden="true"></Icon>
                </span>
                Identities
            </NavLink>
            <NavLink class="navbar-item" href="oauth2">
                <span class="icon">
                    <Icon IconName="fa-circle-nodes" IconSize="IconSize.X01" aria-hidden="true"></Icon>
                </span>
                OAuth2
            </NavLink>
            <NavLink class="navbar-item" href="permissions">
                <span class="icon">
                    <Icon IconName="fa-key" IconSize="IconSize.X01" aria-hidden="true"></Icon>
                </span>
                Permissions
            </NavLink>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-small" target="_blank" href="https://github.com/josxha/OryDotNet">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</nav>