@inject EnvService EnvService

<aside class="is-narrow-mobile is-fullheight is-hidden-mobile">
    <p class="menu-label">Home</p>
    <ul class="menu-list">
        <li>
            <a href="/">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-server"></i>
                </span> Services
            </a>
        </li>
    </ul>
    <p class="menu-label">Identities</p>
    <ul class="menu-list">
        <li>
            <a href="identities/users">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-users"></i>
                </span> Users
            </a>
        </li>
        <li>
            <a href="identities/schemas">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-receipt"></i>
                </span> Identity Schemas
            </a>
        </li>
        <li>
            <a href="identities/messages">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-envelope"></i>
                </span> Message Log
            </a>
        </li>
    </ul>
    <p class="menu-label">OAuth2</p>
    <ul class="menu-list">
        <li>
            <a href="oauth2/clients">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-window-restore"></i>
                </span> Clients
            </a>
        </li>
        <li>
            <a href="oauth2/issuers">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-address-card"></i>
                </span> Grant Issuers
            </a>
        </li>
        <li>
            <a href="oauth2">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-circle-info"></i>
                </span> Information
            </a>
        </li>
    </ul>
    <p class="menu-label">Permissions</p>
    <ul class="menu-list">
        <li>
            <a href="permissions">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-rectangle-list"></i>
                </span> View Permissions
            </a>
        </li>
    </ul>
</aside>