@model KratosVerificationFlow
@{
    ViewData["Title"] = "Verification";
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@Translator.GetTranslation("Verify your account")</h1>
<hr/>
<form method="@Model.Ui.Method.ToLower()" action="@Model.Ui.Action">
    @if (Model.Ui.Messages != null)
    {
        foreach (var message in Model.Ui.Messages)
        {
            @await Component.InvokeAsync("KratosUiTextMessage", message)
        }
    }
    @foreach (var node in Model.Ui.Nodes)
    {
        @await Component.InvokeAsync("KratosUiNodeInput", node)
    }
</form>