@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeAnchorAttributes();
}

<div class="field">
    <div class="is-fullwidth has-text-centered">
        <a href="@attributes.Href" id="@attributes.Id">
            @OryTranslator.ForUiText(attributes.Title)
        </a>
    </div>
    <KratosUiTextMessage Message="@Model.node.Messages"/>
</div>