@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
}

<div class="field">
    <p>Unsupported Input Type: "@attributes.Type, Label: "@uiText?.Text"</p>
    <KratosUiTextMessages Message="@Model.node.Messages"/>
</div>