@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeTextAttributes();
}

<div class="field">
    <p id="@attributes.Id">@OryTranslator.ForUiText(attributes.Text)</p>
    
    <KratosUiTextMessages Message="@Model.node.Messages"/>
</div>