@page "/permissions"
@attribute [StreamRendering]
@attribute [RenderModeInteractiveServer]
@inject ICustomTranslator Translator
@inject ILogger<Home> Logger
@inject NavigationManager Navigation

<PageTitle>Permission Namespaces</PageTitle>

<h1 class="title">Permission Namespaces</h1>
@if (_isLoading)
{
    // is loading
    <p>Loading data...</p>
}
else
{
    @if (_namespaces == null)
    {
        <div class="message is-danger p-2">
            <p>Namespaces could not be loaded.</p>
        </div>
    }
    else
    {
        <table class="table is-fullwidth">
            <thead>
            <th>Name</th>
            <th>Relationships</th>
            <th>Permissions</th>
            </thead>
            <tbody>
            @foreach (var item in _namespaces.Namespaces)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a href="permissions/@item.Name/relationships">Relationships</a>
                    </td>
                    <td>
                        <a href="permissions/@item.Name/tree">Permissions</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}