@page "/permissions"
@rendermode InteractiveServer

<PageTitle>Permission Namespaces | OryAdmin</PageTitle>

<h1 class="title">Permission Namespaces</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    @if (_namespaces == null)
    {
        <div class="message is-danger p-2">
            <p>Namespaces could not be loaded.</p>
        </div>
    }
    else
    {
        <table class="table is-fullwidth">
            <thead>
            <th>Name</th>
            <th>Relationships</th>
            </thead>
            <tbody>
            @foreach (var item in _namespaces.Namespaces)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a href="permissions/@item.Name">Relationships</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}