@{
    ViewData["Title"] = "Welcome";
}

<section class="section">
    <h1 class="title">Welcome</h1>
    <nav>
        <li>
            <a href="login">login</a>
        </li>
        <li>
            <a href="registration">registration</a>
        </li>
        <li>
            <a href="verification">verification</a>
        </li>
        <li>
            <a href="sessions">sessions</a>
        </li>
        <li>
            <a href="settings">settings</a>
        </li>
        <li>
            <a href="logout">logout</a>
        </li>
    </nav>
</section>