@using Newtonsoft.Json.Linq
@using OryAdmin.Extensions
@model ProfileModel
@{
    ViewData["Title"] = CustomTranslator.Get("profile.title");
    Layout = "_NavbarLayout";
    var traits = (JObject)Model.session.Identity.Traits;
}

<section class="hero has-background-white-ter is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10-tablet is-8-desktop is-6-widescreen">
                    <div class="box">
                        <h1 class="title">
                            @CustomTranslator.Get("profile.title")
                        </h1>
                        <table class="table is-fullwidth">
                            <tbody>
                            @foreach (var (schemaPathSections, schema) in Model.traitSchemas)
                            {
                                var value = traits.GetTraitValueFromPath(schemaPathSections);
                                <tr>
                                    <td>@schema.Title</td>
                                    @if (string.IsNullOrWhiteSpace(value))
                                    {
                                        <td>
                                            <p class="is-italic has-text-grey">
                                                @CustomTranslator.Get("profile.empty")
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@value</td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>