@page "/oauth2"
@rendermode InteractiveServer

<PageTitle>OAuth 2 Information | OryAdmin</PageTitle>
<h1 class="title">OAuth 2 Information</h1>

<div class="box p-3 mt-3">
    <h3 class="title">JSON Web Key Sets</h3>
    @if (_isLoading)
    {
        // is loading
        <p>Loading data...</p>
    }
    else
    {
        if (_jsonWebKeySet == null)
        {
            <div class="message is-danger p-2">
                <p>The JSON Web Keys could not be loaded.</p>
            </div>
        }
        else
        {
            if (_jsonWebKeySet.Keys.Count == 0)
            {
                <p>There are no JSON Web Keys.</p>
            }
            else
            {
                <div class="columns">
                    @foreach (var jsonWebKey in _jsonWebKeySet!.Keys)
                    {
                        <div class="column is-one-quarter mt-3 content is-small">
                            <pre class="is-small">@jsonWebKey.ToJson()</pre>
                        </div>
                    }
                </div>
            }
        }
    }
</div>