@page "/oauth2/issuers/create"
@rendermode InteractiveServer
@inject NavigationManager nav

<PageTitle>Trust Grant Issuer | OryAdmin</PageTitle>

<h1 class="title">Trust Grant Issuer</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <form @onsubmit="SubmitForm">
        <div class="field">
            <label class="label">
                Issuer
                <div class="control">
                    <input type="text" class="input" value="@_issuerName"
                           @onchange="args => _issuerName = args.Value?.ToString()"/>
                </div>
            </label>
        </div>
        <div class="field">
            <label class="label">
                Subject
                <div class="control">
                    <input type="text" class="input" value="@_subject"
                           @onchange="args => _subject = args.Value?.ToString()"/>
                </div>
            </label>
        </div>
        <div class="message is-warning p-2 @(string.IsNullOrWhiteSpace(_errorMessage) ? "is-hidden" : "")">
            @_errorMessage
        </div>
        <div class="mt-5">
            <div class="buttons">
                <a class="button" href="oauth2/issuers">
                    Cancel
                </a>
                <button type="submit" class="button is-success">
                    Save
                </button>
            </div>
        </div>
    </form>
}