@model RecoveryModel
@{
    ViewData["Title"] = OryTranslator.Get("recovery.title");
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@OryTranslator.Get("recovery.title")</h1>
<p class="has-text-centered">
    @OryTranslator.Get("recovery.login-label")
    <a href="@Model.loginUrl">
        @OryTranslator.Get("recovery.login-button")
    </a>
</p>
<hr/>
@await Component.InvokeAsync("KratosUiTextMessages", Model.flow.Ui.Messages)

@await Component.InvokeAsync("KratosUiComponent", new KratosUiArgs(
    Model.flow.Ui,
    FlowType.Recovery))