@model KratosUiNode

@{
    var attributes = Model.Attributes.GetKratosUiNodeTextAttributes();
}

<div class="field">
    <p id="@attributes.Id">@attributes.Text.Text</p>
    @foreach (var message in Model.Messages)
    {
        <KratosUiTextMessage Message="@message"/>
    }
</div>