@inherits LayoutComponentBase

<body>

@Body

<script src="/lib/fontawesome-all.min.js"></script>
<script src="/js/site.js" asp-append-version="true"></script>
<script src="_framework/blazor.web.js"></script>
</body>