@using Ory.Kratos.Client.Model
@model Ory.Kratos.Client.Model.KratosUiText

<div class="message @GetCssClass() p-2" id="@Model.Id">
    @Model.Text
</div>

@code
{
    private string GetCssClass()
    {
        return Model.Type switch
        {
            KratosUiText.TypeEnum.Error => "is-danger",
            KratosUiText.TypeEnum.Success => "is-success",
            KratosUiText.TypeEnum.Info => "is-info",
            _ => "is-info"
            };
    }

}