<!DOCTYPE html>
<html lang="@Translator.GetTranslation("en")">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bulma.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/KratosSelfService.styles.css" asp-append-version="true"/>
</head>
<body>

<main>
    @RenderBody()
</main>

<script src="~/lib/fontawesome-all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>