<!DOCTYPE html>
<html lang="@CustomTranslator.Get("en")">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bulma.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/KratosSelfService.styles.css" asp-append-version="true"/>
</head>

@RenderBody()

</html>