@model KratosUiModel

@{
    // this component is used by all flows except the settings flow

    var allGroups = Model.ui.Nodes
        .GroupBy(node => node.Group).ToList();
    var defaultNodes = allGroups
        .First(group => group.Key == KratosUiNode.GroupEnum.Default)
        .ToArray();
    var groups = allGroups
        .Where(group => group.Key != KratosUiNode.GroupEnum.Default)
        .ToArray();

    var groupsWithNoDefaultFields = new List<KratosUiNode.GroupEnum> { KratosUiNode.GroupEnum.Oidc,KratosUiNode.GroupEnum.Webauthn, };
}

@foreach (var group in groups)
{
    <form class="mb-3" action="@Model.ui.Action" method="@Model.ui.Method">
        @if (!groupsWithNoDefaultFields.Contains(group.Key)) {
            foreach (var node in defaultNodes)
            {
                var model = new KratosUiNodeModel(node, Model.flowType, Model.forgotPasswordUrl);
                @await Component.InvokeAsync("KratosUiNodeInput", model)
            }
        }
        @foreach (var node in group)
        {
            var model = new KratosUiNodeModel(node, Model.flowType, Model.forgotPasswordUrl);
            @await Component.InvokeAsync("KratosUiNodeInput", model)
        }
    </form>
}