@model KratosVerificationFlow
@{
    ViewData["Title"] = OryTranslator.Get("verification.title");
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@OryTranslator.Get("verification.title")</h1>
<hr/>
<form method="@Model.Ui.Method.ToLower()" action="@Model.Ui.Action">
    @if (Model.Ui.Messages != null)
    {
        foreach (var message in Model.Ui.Messages)
        {
            @await Component.InvokeAsync("KratosUiTextMessage", message)
        }
    }
    @foreach (var node in Model.Ui.Nodes)
    {
        var model = new KratosUiNodeModel(node, FlowType.Verification);
        @await Component.InvokeAsync("KratosUiNodeInput", model)
    }
</form>