@model VerificationModel
@{
    ViewData["Title"] = OryTranslator.Get("verification.title");
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@OryTranslator.Get("verification.title")</h1>
<hr/>
@await Component.InvokeAsync("KratosUiTextMessages", Model.flow.Ui.Messages)

@await Component.InvokeAsync("KratosUi", new KratosUiModel(
           Model.flow.Ui,
           FlowType.Verification))